@media only screen and (max-width: 600px) {
    .head_logo {
        width: 190px;
        height: auto;
    }
    .home_title {
        font-size: 42px;
    }
    .home_paragraf {
        width: 85%;
    }

}

@media (max-width: 768px){
    .ipad-bottom{margin-bottom: 1.5rem!important;}
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.75rem !important;
        padding-left: 0.75rem !important;
    }
}