/*Google font lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;400;500;600;700&display=swap');
@import "reset.css";
body{font-family: 'Lato';}
.head_logo {
    width: 140px;
    height: auto;
}
.outer_btn {
    color: #fff;
    font-size: 1rem;
    font-family: Lato;
    font-weight: 300;
}

.header_btn {
    min-width: 114px;
    width: auto;
    padding: 10px;
    border-radius: 8px;
    background: #1480e8;
    border: none;
}
.home_btn {
    min-width: 107px;
    width: auto;
    padding: 10px;
    border-radius: 8px;
    background: #1480e8;
    border: none;
}

.home_title {
    font-weight: 700;
    color: #0A203F;
    font-size: 56px;
}
.soft_blue {
    color: #1480E8;
}
.home_padding {
    padding: 4rem 0;
}
.home_paragraf {
    color: #838383;
    width: 70%;
}

.section-title {
    color: #0A203F;
    font-weight: 700;
    font-size: 32px;
}
.section-title-sm {
    color: #0A203F;
    font-weight: 700;
    font-size: 24px;
}
.section-title-md {
    color: #0A203F;
    font-weight: 700;
    font-size: 28px;
    width: 90%;
}

.section-box {
    background: #F1F4FA;
    width: 100%;
    min-height: 213px;
    height: auto;
    border-radius: 1rem;
    padding: 2rem;
}

.box_icon {
    width: 62px;
    height: auto;
}
.box_number {
    font-size: 52px;
    font-weight: 800;
    color: #DBE9F9;
}
.mb-175{margin-bottom: 1.75rem !important;}
.section-title-description {
    color: #909192;
}

.bottom6 {
    margin-bottom: 6rem;
}
.bottom12 {
    margin-bottom: 12rem;
}
.explore-more {
    font-weight: 500;
    color: #0A203F;
    text-decoration: none;
    border-bottom: solid 1px #1480e8;
    padding-bottom: 16px;
    border-width: 2px;
}
.live_card {
    background: #fff;
    width: 100%;
    min-height: 412px;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    border: solid 1px #d0d0d2;
}
.user_icon {
    width: 28px !important;
    height: 28px !important;
    margin-right: 12px;
}
.user_a {
    color: #0A203F;
    text-decoration: none;
    font-size: 14px;
}

/*Nft Card*/
.dropstart .dropdown-toggle::before {
    display: none !important;
}
.btn-bg {
    background: none;
}
.btn-bg {
    background: none;
    color: #0A203F;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
}
.dot {
    position: relative;
    bottom: 12px;
}
.btn-bg {
    background: none;
    color: #0A203F;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.dropdown-menu {
    min-width: 7rem !important;
    padding: 0.5rem !important;
    border-radius: 1rem !important;
    border: solid 1px rgba(208, 208, 210, 0.5) !important;
}
.card-img-colection {
    width: 100%;
    height: auto;
    min-height: 224px;
    object-fit: cover;
    border-radius: 14px;
}
.timer-box {
    width: 120px;
    height: 42px;
    background: #E6EFFB;
    border-radius: 8px;
    position: relative;
    bottom: 24px;
}
.card-nft-title {
    color: #0A203F;
    font-size: 24px;
    font-weight: 400;
}
.nft_price {
    font-weight: 700;
    color: #1480E8;
    font-size: 24px;
    text-transform: uppercase;
}
.uppercase{text-transform: uppercase;}
.ml-4 {
    position: relative;
    left: 4px;
}
.nft-card-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #1480e8;
    border: none;
    color: #fff;
}
.timer-icon {
    width: 1rem;
    height: 1rem;
}
.me-right1 {
    margin-right: 1px !important;
}
.explore_box {
    width: 100%;
    height: 122px;
    background: #F1F5FB;
    border-radius: 14px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.explore_icon {
    width: auto;
    height: 28px;
}
.explore_title {
    font-size: 1rem;
    color: #838383;
    text-align: center;
    font-weight: 500;
}
/*popular collections*/
.popular_card {
    width: 100%;
    height: 292px;
    border: solid 1px #D0D0D2;
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
}
.popular_card_bg {
    width: 100%;
    height: 160px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.green_card{background: #6bd095;}
.purple_card{background: #BC67DC;}
.orange_card{background: #F49A40;}
.popular_card_like {
    position: absolute;
    right: .75rem;
    top: .75rem;
}
.popular_card_img {
    width: auto !important;
    height: 100px;
}
.popular_btn {
    width: auto;
    height: auto;
    background: #1480E8;
    border-radius: 6px;
    padding: 8px 6px;
}
.fa-solid, .fas {
    color: #fff;
    font-size: 14px;
}
.like_counter {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.popular_user_img {
    width: 52px !important;
    height: 52px;
    border-radius: 8px;
    border: solid 2px #fff;
}
.popular_card_content {
    position: relative;
    bottom: 1.62rem;
}
.darkblue{color: #0A203F !important;}

.fluid_bg {
    height: 412px;
    background: #E6EFFB;
    padding: 4.25rem 0 0 0;
}
.choose_card {
    width: 100%;
    min-height: 208px;
    height: auto;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 8px 0 #0000002e;
    padding: 4.5rem 2rem 2rem 2rem;
}
.choose_icon {
    height: 132px;
    width: auto;
    position: relative;
    top: 40px;
}
.faq_img {
    width: 220px;
    height: auto;
}
/*accordion*/
.accordion-button:not(.collapsed) {
    color: #0A203F !important;
    background-color: #fff !important;
    box-shadow: inset 0 -1px 0 transparent !important;
}
.accordion-button {
    padding: 1.25rem !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 12px !important;
    font-weight: 700 !important;
}
.accordion-item {
    background-color: #fff;
    border: none !important;
}
.accordion-item:first-of-type .accordion-button {
    border-radius: 12px !important;
    background: #fff !important;
}
.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem transparent !important;
}
.accordion-button::after {
    background-color: #E6EFFB !important;
    border-radius: 12px !important;
}

/*Partners*/
.partners_logo > ul > li {
    display: inline;
}
.partners_img {
    width: auto;
    height: 28px;
    padding: 0 68px 0 0;
    margin-bottom: 1.5rem;
}
/*news*/
.news_bg {
    background: #E6EFFB;
    width: 100%;
    height: auto;
    min-height: 304px;
    border-radius: 1.5rem;
    padding: 3.625rem 4.75rem;
}
.news_img {
    width: 300px;
    height: auto;
}
.news_content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_input {
    width: 90%;
    padding: 1rem 2rem;
    border-radius: 12px;
}
.send_btn {
    background: #1480E8;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    margin-left: -6.5rem;
    margin-top: 5px;
}
/*footer*/
.footer_img {
    width: 214px;
    height: auto;
}
.footer_desc {
    color: #30445f;
    line-height: 32px;
    font-size: 1rem;
    width: 18.125rem;
}
.footer_title {
    color: #0A203F;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 26px !important;
}
.footer_list > ul > li {
    list-style: none;
    margin-bottom: .5rem;
}
.footer_list > ul > li > a {
    text-decoration: none;
    color: #30445f;
    font-size: 15px;
}
.footer_social > ul > li {
    display: inline-block;
    padding: 0 12px 0 0;
}
.social_icon {
    width: 40px;
    height: 40px;
}
.column_flex {
    display: grid;
    justify-content: end;
}
.footer_line {
    border-bottom: solid 1px #D0D0D2;
}
.copyright {
    color: #838383;
    font-size: 14px;
    padding: 16px 0 !important;
}
/*hamburger menu*/
.navbar-light .navbar-toggler {
    border-color: transparent !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}