/*Google font lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;400;500;600;700&display=swap');
@import "reset.css";
body{font-family: 'Lato';}
.head_logo {
    width: 140px;
    height: auto;
}
.outer_btn {
    color: #fff;
    font-size: 1rem;
    font-family: Lato;
    font-weight: 300;
}

.header_btn {
    min-width: 114px;
    width: auto;
    padding: 10px;
    border-radius: 8px;
    background: #1480e8;
    border: none;
}
.home_btn {
    min-width: 107px;
    width: auto;
    padding: 10px;
    border-radius: 8px;
    background: #1480e8;
    border: none;
}

.home_title {
    font-weight: 700;
    color: #0A203F;
    font-size: 56px;
}
.soft_blue {
    color: #1480E8;
}
.home_padding {
    padding: 4rem 0;
}
.home_paragraf {
    color: #838383;
    width: 70%;
}

.section-title {
    color: #0A203F;
    font-weight: 700;
    font-size: 32px;
}
.section-title-sm {
    color: #0A203F;
    font-weight: 700;
    font-size: 24px;
}

.section-box {
    background: #F1F4FA;
    width: 100%;
    min-height: 213px;
    height: auto;
    border-radius: 1rem;
    padding: 2rem;
}

.box_icon {
    width: 62px;
    height: auto;
}
.box_number {
    font-size: 52px;
    font-weight: 800;
    color: #DBE9F9;
}
.mb-175{margin-bottom: 1.75rem !important;}
.section-title-descriptipn {
    color: #909192;
}

.bottom96 {
    margin-bottom: 6rem;
}
.explore-more {
    font-weight: 500;
    color: #0A203F;
    text-decoration: none;
    border-bottom: solid 1px #1480e8;
    padding-bottom: 16px;
    border-width: 2px;
}
.live_card {
    background: #fff;
    width: 100%;
    min-height: 412px;
    height: auto;
    border-radius: 1rem;
    padding: 1rem;
    border: solid 1px #d0d0d2;
}
.user_icon {
    width: 28px;
    height: 28px;
    margin-right: 12px;
}
.user_a {
    color: #0A203F;
    text-decoration: none;
    font-size: 14px;
}

/*Nft Card*/
.dropstart .dropdown-toggle::before {
    display: none !important;
}
.btn-bg {
    background: none;
}
.btn-bg {
    background: none;
    color: #0A203F;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
}
.dot {
    position: relative;
    bottom: 12px;
}
.btn-bg {
    background: none;
    color: #0A203F;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.dropdown-menu {
    min-width: 7rem !important;
    padding: 0.5rem !important;
    border-radius: 1rem !important;
    border: solid 1px rgba(208, 208, 210, 0.5) !important;
}
.card-img-colection {
    width: 100%;
    height: auto;
    min-height: 224px;
    object-fit: cover;
    border-radius: 14px;
}
.timer-box {
    width: 120px;
    height: 42px;
    background: #E6EFFB;
    border-radius: 8px;
    position: relative;
    bottom: 24px;
}
.card-nft-title {
    color: #0A203F;
    font-size: 24px;
    font-weight: 400;
}
.nft_price {
    font-weight: 700;
    color: #1480E8;
    font-size: 24px;
    text-transform: uppercase;
}
.ml-4 {
    position: relative;
    left: 4px;
}
.nft-card-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background: #1480e8;
    border: none;
    color: #fff;
}